.post-container {
    margin: 10px auto;
    width: 640px;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 2px;
}

.user-id {
    display: flex;
}

.user-id img{
    height: 30px;
    border-radius: 50px;
    align-self: center;
    margin: 0 10px;
}

.user-id p {
    font-weight: 600;
}

.likes p {
    margin: 10px;
    font-weight: 600;
}